*{
    margin:0;
    padding:0;
}
body{
    background-color:#FFF0E5;
    overflow-x: hidden;
}

h2{
    text-align:center;
    margin-top:40px;
    margin-bottom:20px;
}

a{
    text-decoration: none;
    color:black;
}

.nav-wrapper{
    width:100%;
    height:90px;
    border:1px solid black;
    
}
.nav-wrapper ul{
    list-style: none;
}
.nav-wrapper li{
    display:inline;
    padding-left:15px;
}
.nav-wrapper img{
    width:60px;
    height:60px;
    padding-top:15px;
}
.nav-wrapper h1{
    display:inline;
    font-size: 30px;
}

.selection-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height:400px;
    margin-top:30px;
}

.selection-box{
    display:flex;
    align-items: center;

    width:300px;
    height:100px;
    border:1px solid black;
    background:rgb(255, 242, 168);
    box-shadow: -3px 5px 2px 0px black;
    
}
.selection-box img{
    width:75px;
    height:75px;
    padding-left:20px;
}
.selection-box h3{
    display:inline;
    padding:10px;
}

@media only screen and (min-width:601px){
    h2{
        margin-top:60px;
        font-size:30px;

    }
    .nav-wrapper{
        border:0px solid black;
    }
    .selection-wrapper{
        height:550px;
        margin: 30px 0px;
        
    }

    .selection-box{
        width:490px;
        height:140px;
    }
    .selection-box img{
        width:100px;
        height:100px;
        padding-left:40px;
    }
    .selection-box h3{
        padding:40px;
        font-size: 27px;
    }
}

@media only screen and (min-width:1024px){
    h2{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    .nav-wrapper{
        width:100%;
        height:75px;
        
    }
    .nav-wrapper li{
        display:inline;
        padding-left:10px;
    }
    .nav-wrapper img{
        height:40px;
        width:40px;
        margin-left:5px;
        margin-right:5px;
    }
    .nav-wrapper h1{
        display:inline;
        font-size: 20px;
    }
    

    .selection-wrapper{
        flex-direction: row;
        align-items:flex-start;
        width:auto;
        height:auto;
        margin:0;
        
    }
    
    .selection-box{
        display:block;
        position:relative;
        width: 200px;
        height: 400px;
        border:1px solid black;
        box-shadow:none;
        
        animation-name:selection-hover-out;
        animation-duration:0.25s;
        animation-fill-mode: forwards;
    }
    @keyframes selection-hover-out{
        0%{
            left:10px;
            bottom:10px;
            box-shadow: -15px 10px 0px 0px black;
            background:rgb(248, 231, 135);
        }
        100%{
            left:0;
            bottom:0;
            box-shadow: 0px 0px 0px 0px black;
            background:rgb(255, 242, 168);
        }
    }

    .selection-box:hover{

        animation-name: selection-hover;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
        
    }
    @keyframes selection-hover{
        0%{
            left:0;
            bottom:0;
            box-shadow: 0px 0px 0px 0px black;
            background:rgb(255, 242, 168);
        }
        100%{
            left:10px;
            bottom:10px;
            box-shadow: -15px 10px 0px 0px black;
            background:rgb(248, 231, 135);
            
        }
    }

    .selection-box:active{
        animation-name: selection-hover-out;
        animation-duration: 0.25s;
        animation-fill-mode: forwards;
    }

    .selection-box img{
        display:block;
        margin-top:55%;
        margin-left:auto;
        margin-right:auto;
        width:50%; 
        padding:0;
    }
    .selection-box h3{
        display:block;
        margin:0;
        margin-top:30px;
        text-align: center;
        padding:0;
        font-size:1.17em;
    }

}